<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wz.mapper.WalletMapper">
    <select id="findByWalletId" resultType="com.wz.entity.Wallet">
        select
            id,
            user_id,
            balance,
            created_at,
            updated_at
        from
            wallet
        where
            user_id=#{useId}
    </select>

    <update id="consume">
        update
            wallet
        set
            balance = balance - 100
        where
            user_id=#{useId}
    </update>

    <update id="refund">
        update
            wallet
        set
            balance = balance + 20
        where
            user_id=#{useId}
    </update>

</mapper>